.App {
  /* text-align: center; */
  padding-top: 30px;
}

.location{
  text-align: center;
  padding: 20px;
}

.locationName {
  text-transform: uppercase;
  color: rgb(73, 73, 73);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
